<app-nav
  [isHome]="true"
  [links]="['UserQuestions', 'Chat', 'AskQuestion']"
></app-nav>

<div style="margin-top: 30vh; margin-left: 35vw;">
  <h1 style="font-size: xxx-large">Welcome <b>{{ user }}</b> at Do-Connect!</h1>
</div>
