<app-nav
  [isHome]="true"
  [links]="['UserQuestions', 'Chat', 'AskQuestion']"
></app-nav>

<div
  style="max-height: 50vh; max-width: 50vw; margin-top: 8vh; margin-left: 25vw;"
>
  <div style="margin-bottom: 1vh;">
    <mat-card style="background-color:rgb(151, 31, 75,1); color:white;">
      <mat-card-title style="margin-left: 17vw">Chat With Everybody</mat-card-title>
    </mat-card>
  </div>
  <div style="margin-bottom: 5vh;">
    <mat-card style="background-color:rgb(151, 31, 75,1); color:white;">
      <span style="margin-left: 17vw;  color:white; font-size: 18px; display: inline-block;position: relative; right:275px;">Chatting with &#8658; {{username}}</span>
    </mat-card>
  </div>
  <div>
    <mat-card
      style="
        height: 20vw;
        overflow-y: auto;
        width: 20vw;
        position: absolute;
        margin-left: 28vw;
        background-color: rgb(128, 128, 128,0.3);
      "
    >
      <mat-card-title style="text-align: center; padding: 10px;">Sent Message</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-action-list>
          <mat-list-item *ngFor="let m of messageData"
            >{{ m.message }}
          </mat-list-item>
        </mat-action-list>
      </mat-card-content>
    </mat-card>
    <mat-card style="height: 20vw; overflow-y: auto; width: 20vw;  background-color: rgb(128, 128, 128,0.3);">
      <mat-card-title style="text-align: center; padding: 10px;">Received Message</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-action-list>
          <mat-list-item *ngFor="let m of recivedMessageData">
            {{ m.message }}
          </mat-list-item>
        </mat-action-list>
      </mat-card-content>
    </mat-card>
    <div style="margin-top: 5vh">
      <mat-card style="background-color: rgb(128, 128, 128,0.3);">
        <mat-form-field style="width: 41vw">
          <mat-label>Type Your Message Here</mat-label>
          <input matInput type="text" name="text" [(ngModel)]="message" />
        </mat-form-field>
        <button
          mat-raised-button
          style="margin-left: 1vw;background-color: rgb(151, 31, 75);color:white;"
          (click)="sendMessage()"
        >
          Send
        </button>
      </mat-card>
    </div>
    <mat-card
      style="
        height: 3vh;
        width: 15vw;
        position: absolute;
        left: 6vw;
        top: 16.5vh;
        
        background-color:rgb(151, 31, 75,1); color:white;
      "
    >
      <mat-card-title style="text-align: center;">Users</mat-card-title>
      <mat-divider></mat-divider>
    </mat-card>
    <mat-card
      style="
        height: 68vh;
        width: 15vw;
        position: absolute;
        left: 6vw;
        top: 25vh;
        overflow-y: auto;
        background-color: rgb(128, 128, 128,0.3);
        
      "
    >
      <mat-action-list>
        <button
          mat-list-item
          *ngFor="let i of uniqueUsers"
          (click)="changeMessages(i)"
        >
          <b>{{ i }}</b>
        </button>
      </mat-action-list>
    </mat-card>
  </div>
</div>
